<p id="notice"><%= notice %></p>

<p>
  <strong>Nombredepel:</strong>
  <%= @peliculas_l.Nombredepel %>
</p>

<%= link_to 'Edit', edit_peliculas_l_path(@peliculas_l) %> |
<%= link_to 'Back', peliculas_ls_path %>
